---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import StudioCard from "@/components/studios/StudioCard.astro";
import FilterPills from "@/components/studios/FilterPills.astro";
import SearchStudios from "@/components/studios/SearchStudios.astro";

export async function getStaticPaths() {
  const allStudios = await getCollection("studios");
  const uniqueTags = [...new Set(allStudios.flatMap(studio => studio.data.tags))];

  return uniqueTags.map((tag) => {
    const filteredStudios = allStudios.filter((studio) =>
      studio.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { tag, studios: filteredStudios },
    };
  });
}

const { tag, studios } = Astro.props;
const tags = [...new Set(studios.flatMap((studio) => studio.data.tags))];
const categories = [...new Set(studios.flatMap((studio) => studio.data.category))];

const meta = {
  title: `Studios Tagged with ${tag}`,
  description: `Explore studios tagged with ${tag}. Find specialized productized services that match your requirements.`,
  url: Astro.url,
  socialImage: "/social.jpg",
  twitterImage: "/twitter.jpg",
  author: "Productized Studio"
};
---

<BaseLayout {...meta}>
  <section>
    <!-- Header section with original max-width and padding -->
    <div class="max-w-screen-xl px-8 pt-12 pb-6 mx-auto md:px-12 lg:px-32">
      <div class="max-w-xl mx-auto text-center">
        <span class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase">
          Productized Studio
        </span>
        <h1 class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
          Studios Tags: {tag}
        </h1>
        
        <SearchStudios allStudios={studios} />
      </div>

      <!-- Filter Pills -->
      <div class="flex flex-wrap gap-4 mt-8 mx-auto md:justify-between max-w-4xl">
        <FilterPills tags={tags} categories={categories} />
      </div>
    </div>

    <!-- Studios Grid with adjusted width and spacing -->
    <div class="max-w-[1920px] px-4 mx-auto md:px-8 lg:px-12">
      <ul class="grid grid-cols-1 mt-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4 gap-y-8 md:gap-x-6">
        {studios.map((studio) => (
          <StudioCard 
            title={studio.data.title}
            description={studio.data.description}
            image={studio.data.image}
            tags={studio.data.tags}
            category={studio.data.category}
            features={studio.data.features}
            url={studio.data.url}
            paid={studio.data.paid}
            price={studio.data.price}
            slug={studio.slug}
          />
        ))}
      </ul>
    </div>
  </section>
</BaseLayout> 